.sparkle4 {
  top: 40%;
  left: 15%;
  animation-delay: 1.2s;
}

.sparkle5 {
  top: 5%;
  left: 60%;
  animation-delay: 2.4s;
}

.sparkle6 {
  top: 85%;
  left: 30%;
  animation-delay: 0.8s;
}

.sparkle7 {
  top: 35%;
  left: 90%;
  animation-delay: 1.6s;
}

.sparkle8 {
  top: 60%;
  left: 5%;
  animation-delay: 0.4s;
}

.sparkle9 {
  top: 80%;
  left: 75%;
  animation-delay: 2s;
}
